* This is python
# kapil yadav
## kapil yadav
### kapil yadav#### kapil yadav
###### kapil yadav

In [3]:
a,b,c,d,e,f,g,h=1,'kapil Yadav', 2,'Deepanker',3,3.5,4,'Shubham'

In [4]:
a,b,c,d,e,f,g,h

(1, 'kapil Yadav', 2, 'Deepanker', 3, 3.5, 4, 'Shubham')

In [5]:
print(type(f))

<class 'float'>

In [6]:
f=str(f)
print(type(f))

<class 'str'>

In [7]:
#local variable x 
def func():
    x=5
    print(x)

In [8]:
func()

5

In [9]:
x=10
def myfunc():
    y=10

In [10]:
print(x)

10

In [11]:
#ninja technique
def myfunc2():
    global m
    m=90
    print(m)

In [12]:
myfunc2()

90

In [13]:
print(m)

90

# ARITHMETIC OPERATION

In [14]:
5+8

13

In [15]:
8-5

3

In [16]:
#EXPONENT
2**3

8

In [17]:
2*3

6

In [18]:
6/2

3.0

In [19]:
#MOD
5%2

1

In [20]:
#ASSIGNMENT
X=6

In [21]:
#ADD EQUAL TO OPERATOR
X=5
Y=4
X+=Y   #X=X+Y
X

9

In [22]:
#SUBTRACT EQUAL TO OPERATOR
X=50
Y=40
X-=Y   #X=X-Y
X

10

In [23]:
#MULTIPLY EQUAL TO OPERATOR
X=50
Y=40
X*=Y   #X=X*Y
X

2000

In [24]:
#DIVIDE EQUAL TO OPERATOR
X=50
Y=40
X/=Y   #X=X/Y
X

1.25

In [25]:
#MODULO EQUAL TO OPERATOR
X=50
Y=40
X%=Y   #X=X%Y
X

10

In [26]:
#EXPONENT EQUAL TO OPERATOR
X=2
Y=3
X**=Y   #X=X**Y
X

8

In [27]:
#FLOOR EQUAL TO OPERATOR
X=764
Y=56
X//=Y   #X=X//Y
X

13

In [28]:
#COMPARISON OPERATOR
#EQUAL TO OPERATOR
2==2

True

In [29]:
X=8
Y=9
X==Y

False

In [30]:
#NOT EQUAL TO OPERATOR
x=9
Y=10
X!=Y

True

In [31]:
#Greater Than 
5>9

False

In [32]:
#Smaller Than 
5<9

True

In [33]:
#Less than =
5<=9

True

In [34]:
#greater than equal to 
9<=5

False

# logical operator

In [35]:
#And operator
x=8
x>1 and x>5

True

In [36]:
#OR operator
x=8
x>1 or x>50

True

# BITWISE OPERATOR

In [37]:
#bitwise and 
x=8
y=9
x & y

8

In [38]:
#bitwise or
x=8
y=9
x | y

9

In [39]:
#XOR operation
x=7
y=0
x ^ y

7

In [40]:
#NOT
~11

-12

In [41]:
#BITWISE LEFT SHIFT
7<<2

28

In [42]:
#BITWISE RIGHT SHIFT
8>>2

2

# is OPERATOR

In [43]:
X= 10
Y=20
X is Y

False

In [44]:
# is not OPERATOR
X= 10
Y=20
X is not Y

True

# MEMBERSHIP OPERATOR

 #### Membership operators are the operators used to validate the membership of the value.

In [45]:
# in operator 
# in operator evaluates to true if it finds the variable in the specific sequence and false otherwise.

In [46]:
t= (3,6,4,1)
3 in t

True

In [47]:
# not in operator
t= (3,6,4,1)
5 not in t

True

# STRING

In [48]:
# STring using single quotes
s1 = 'This is string'

#String using double quotes
s2 = " This is also a string"

In [49]:
#Multiline strings
s = """" Python is a interesting  language 
but C++ is love
Java - - - forget about it"""

In [50]:
#declaring two variables
first = "Kapil"
last = "yadav"

In [51]:
#using format() function
print('Hello! I am {} {}'.format(first,last))

Hello! I am Kapil yadav

In [52]:
#using numbers inside brackets
print('Hello! I am {0} {1}'.format(first,last))

Hello! I am Kapil yadav

In [53]:
print('Hello! I am {0} {1}.{1} is my surname'.format(first,last))

Hello! I am Kapil yadav.yadav is my surname

In [54]:
#ninja tip
# f strings
name = 'Deepanker'
age = 24

In [55]:
print(f'My name is {name}. I am {age} years old')

My name is karan. I am 20 years old

# String methods

1. capitalize() - returns string after converting the first character to uppercase.

In [56]:
#capitalize() method
s='bollywood'
s.capitalize()

'Bollywood'

## Lower function

In [57]:
#lower method
s1 = " CINEMA"
s1.lower()

' cinema'

In [58]:
#upper function
a = "movie"
a.upper()

'MOVIE'

In [59]:
#join method
s1= ["Ram", "Shyam", " Mohan"]
x= " ".join(s1)
print(x)

Ram Shyam  Mohan

In [60]:
#len function
s1 = " Kapil is a good boy"
len(s1)

20

In [61]:
#count function
s1= ' kapil is  a king'
s1.count('k')

2

In [62]:
#find method
s='Ronaldo'
s.find('o')

1

In [63]:
# Is lower function - checks if all the characters in the strin are in lower case or not
s= 'actors'
s.islower()

True

In [64]:
#is upper function - checks if all the characters in the strin are in upper case or not
s= "KAPIL"
s.isupper()

True

In [65]:
#split function - which returns a list of the string after breaking the string by the separator.
S= 'Data+science'
S.split('+')

['Data', 'science']

In [66]:
S= 'Data science'
S.split(' ')

['Data', 'science']

In [67]:
 #strip function - which removes any extra spaces at the beginning and at the end of the string.
    s= ' Tom Cruise   '
    s.strip()

'Tom Cruise'

# INPUT METHOD
## input() function takes user input and evaluates it.

In [ ]:
x= input()

In [ ]:
#passing message
input(" What is your name: ")

In [ ]:
x= int(input('Enter a number: '))

In [ ]:
x= float(input('Enter a number: '))

# if-elif-else

# Syntax 

if(condition):
    statement(s)

In [ ]:
#example of it statement
x=3
if(x>0):
    print(' x is greater than 0')

In [ ]:
#example of if else statement
x=5
if(x%2==0):
    print(" Number  a multiple of 2")
else:
    print(" Not a multiple of 2")

In [ ]:
#example of if elif else
y=34
if(y<10):
    print(' y is less than 10')
elif(y>10 and y<50):
    print(' y is between 10 to 50')
else: 
    print("y is greater than 50")

# for and while

# for loop -

## The for loop in python is used to iterate over a sequence (list, tuple, string and dictionary)

### Syntax

for i in sequence:
   
             Body of loop

In [ ]:
a= ['Delhi', 'Mumbai', 'Chennai', 'Kolkata']
for city in a:
    print(city)

In [ ]:
#defining a list
s= [2,4,6,8,20]
for i in s:
    if(i%2!=0):
        print(i," is not divisible by 2 ")
    else: 
        print(i," is divisible by 2 ")

# While loop
## Syntax

While test_condition:
    Body of loop

In [ ]:
#using while loop
i=1
while i<=5:
    print(i)
    i=i+1

In [ ]:
#using while loop
i=1
while i<=5:
    print(i)
    i=i+1
else:
    print("i is no lomnger less than 6")