# Module
A module is a file that contains python code.
A mdoule can define functions, classes and variables.

In [30]:
#importing modules
#access the function using dot operator
import calculation

In [31]:
#accesing the function
calculation.multiplication(6,5)

30

In [32]:
calculation.subtraction(6,5)

1

# Anonymous function

Anonymous function is a function which is defined without a name.

Anonymous functions can accept multiple inputs and return one single output.

They can contain only one single executable statement.

### most popular ones, which are lambda functions filter, map, zip list, set and dictionary comprehensions.

# Lambda function is a small, anonymous function.

It can take any number of arguments, but it can only have one expression.

Lambda functions are much recommended to use whenever we have smaller functions to execute.

Lambda functions are widely used for data manipulation and feature engineering,
where we have to make smaller changes in larger datasets.

The syntax for lambda function is:
  ## lambda arguments: expression

In [34]:
 #lambda function with single arguement
    x= lambda a: a*a
    x(5)

25

In [35]:
 #lambda function with more than one  arguement
    y= lambda a,b: a+b
    y(7,5)

12

# Filter, Map and Zip function

### Filter function -the filter function filters, the given iterable lists, tuples, etc., with the help of a function that tests each element in the iterable to be true or not.

The syntax of the filter function is 
#### filter(function,iterable)

In [36]:
#defining a list of marks of students out of 100
score = [76,38,85,94,38]

In [38]:
#defining a function which checks if the marks scored are > 50

def score_check(s):
    if s>50: 
        return True
    else:
        return False

In [39]:
#filtering the students with marks>50
students_passed = filter(score_check,score)
for i in students_passed:
    print(i)

76
85
94

 # Map Function
 ## the map function, executes a specified function for each item in a iterable.
 The item is sent to the function as a parameter.
 
 ## The syntax of map function is:-
  map(function,iterable)

In [40]:
#defining a list which stores the total marks out of 500
total_score = [365,450, 290, 398, 270,500]

#defining a function which calculates the total percentage 
def percent(li):
    ans=(li*100)/500
    return ans

In [41]:
#using map function
mapped_list= map(percent,total_score)
print(list(mapped_list))

[73.0, 90.0, 58.0, 79.6, 54.0, 100.0]

##  zip function - 

### The zip function returns a zip object, which is an iteration of tuples where the first item in each passed iterator is paired together and then the second item in each iterator is back together and so on.

In [42]:
#list containing names of the students
student_names = ["kapil", "rohan", " raju", "vineet", " Suman"]

#list containing marks of the students 
student_marks = [60,70,80,90,100]

#zipping names and marks of students
zipped_list = zip(student_names, student_marks)
zipped_list= list(zipped_list)
zipped_list


#We want to aggeregate the corresponding names and marks of every students into a single tuple and return the list.

[('kapil', 60), ('rohan', 70), (' raju', 80), ('vineet', 90), (' Suman', 100)]

In [45]:
#if we want to keep the list of names and marks differently
#Use the star(*) operator inside zip() function to unzip the values.

#unzipping the names and marks of the students
student_names, student_marks = zip(*zipped_list)
print('names = ', list(student_names))
print('marks = ', list(student_marks))

names =  ['kapil', 'rohan', ' raju', 'vineet', ' Suman']
marks =  [60, 70, 80, 90, 100]

# Comprehensions in Python
### comprehensions in Python provide us with a short and concise way to construct new sequences such as lists, sets, dictionary, using sequences which have already been defined.
1. List comprehension
2. Set comprehension
3. Dictionary Comprehension

In [48]:
 #defining a list
my_list = [2,3,4,5,6,7]
#using list comprehension
squared_list= [val**2 for val in my_list]
squared_list

[4, 9, 16, 25, 36, 49]

In [49]:
#using list comprehension
even_list = [var for var in my_list if var%2==0]
even_list

[2, 4, 6]

  # Set comprehension

In [50]:
#using set comprehension
numbers= { x for x in range(1,10)}
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Dictionary Comprehension

In [52]:
#using dictionary comprehension
d = {num:num*num for num in range(1,10)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Introduction to Aggregate functions

## Aggregation function is a function where the multiple values are grouped together to form a single summary value.

Common aggregate functions are : 

1. max()
2. min()
3. sum()
4.mean()
5.median()
6. mode()

In [53]:
#creating a list
list1 = [3,5,7,9,2,1,1]

In [54]:
#Finding the maximum value of list
max(list1)

9

In [55]:
#finding minimum value of list
min(list1)

1

In [56]:
#sum of the all values in the list
sum(list1)

28

In [61]:
#for median and mode import statistics 
import statistics as s
s.mode(list1)

1

In [58]:
s.median(list1)

3

In [59]:
s.mean(list1)

4

In [62]:
# similarly we can these aggregate functions with tuples, list, dictionary

# Introduction of analytical functions.

We are going to learn about four amazing analytical functions in Python.
1. eval()
2. len()
3. factorial()
4. sort()

# eval function  - 
### The eval function evaluates the string like a python expression and returns the result as an integer.

In [63]:
x=3
eval('x**2+2*x-2')

13

# len function
### len() function returns the number of items in an object

In [65]:
numbers=[4,2,5,6,7,8,9]
len(numbers)

7

# Factorial function

### The factorial function in the math module helps us to compute the factorial of a number without writing the whole code.

In [66]:
import math
math.factorial(5)

120

In [67]:
math.factorial(10)

3628800

# sort() function
## sort() function sorts the elements of an object in a specified ascending or descending order.

In [69]:
runs= [50,10,11,23,51,42,40,50]
runs.sort(reverse=True)
runs

[51, 50, 50, 42, 40, 23, 11, 10]

In [70]:
runs.sort()
runs

[10, 11, 23, 40, 42, 50, 50, 51]

In [71]:
# SoLVING THE FACTORIAL PROBLEM USING RECURSION

In [72]:
def fact(n):
    if n==1:
        return 1
    else: 
        return n*fact(n-1)

In [73]:
fact(10)

3628800