# List and tuples
## Similarities between list and tuples

1. List and tuples are the class of Data structures
2. List and tuples store one or more values in a specific order. The values stored in a list or tuple can be of any type.

# List
The list is a collection of multiple values. Lists are defined in Python by enclosing a comma-separated sequence of values in square brackets[]

In [2]:
a= ['apple', 'banana','cheery']
a

['apple', 'banana', 'cheery']

In [3]:
a[1]

'banana'

# Tuples 
A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists.

(Immutable sequence can not be changed once it has been created.

In [5]:
#tuple
b=(4,8,7,6,5,6)
b

(4, 8, 7, 6, 5, 6)

 list, tuple allows duplicate
list are changeable, tuples are un changeable
list and tuples are ordered

In [6]:
b[4]=2

TypeError: 'tuple' object does not support item assignment

# operations on list

In [21]:
#append
#append method adds an element at the end of the list
s=['apple', 'banana', 'cherry']
s.append('potato')
s

['apple', 'banana', 'cherry', 'potato']

In [22]:
#insert 
#insert method adds an element at particular position
s.insert(0,'brinjal')
s

['brinjal', 'apple', 'banana', 'cherry', 'potato']

In [23]:
#remove
#remove the item at specified value
s.remove('potato')
s

['brinjal', 'apple', 'banana', 'cherry']

In [25]:
 #pop 
#pop() methods removes from particular index, (if index is not given, then pop at the last)
s.pop()
s

['brinjal', 'apple', 'banana']

In [26]:
s.pop(0)
s

['apple', 'banana']

In [28]:
#copy()
#copy() methods returns a copy of the list
scopy=s.copy()
scopy

['apple', 'banana']

In [29]:
#clear()
#clear method removes all the elements from the list
scopy.clear()
scopy

[]

In [31]:
#reverse 
# reverse method reverse the order of list
s.reverse()
s

['banana', 'apple']

In [33]:
#count
#count method returns the number of elements with the specified value.
s.count('apple')

1

In [34]:
#extend()
#extend method add the elements of the list to the current list.
s1=[3,8]
s.extend(s1)
s

['banana', 'apple', 3, 8]

In [35]:
#sort()
#sorts the list
s=['cherry', 'banana','apple']
s.sort()
s

['apple', 'banana', 'cherry']

# Operations of tuples

count()

count() method returns the number of times a specified value occurs in the tuple

In [37]:
#using count method
t=('apple', 'banana','cherry','banana')
t.count('banana')

2

In [38]:
#index()
#index method searches the tuple for specified value and returns the position of where it was found
t.index('cherry')

2

In [39]:
#len
#len() method returns the length of the tuple
len(t)

4

In [40]:
#+ operator to join tuples
u1=(2,5,7,6)
u2=(1,2,4,5)
u1+u2

(2, 5, 7, 6, 1, 2, 4, 5)